.product-icon {
    border-radius: 5px;
    font-size: 24px;
    height: 100px;
    margin-bottom: 25px;
    min-width: 100px;
    width: 100px;
    background: repeating-linear-gradient(-55deg, rgba(255, 255, 255, 0) 0.8px, rgba(193, 118, 205, 0.2) 1.6px, rgba(184, 97, 197, 0.2) 2px, rgba(255, 255, 255, 0) 3.8px, rgba(255, 255, 255, 0) 5px);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.product-title {
    font-size: 14px;
    text-align: center;
}